@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  object-fit: cover;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid rgb(255, 0, 0); */
  align-items: center;
  gap: 80px;
}
.navbar {
  width: 100%;
  /* height: 90px; */
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
}
.container {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 5px solid rgb(217, 178, 20); */
}
.nav-items {
  width: 100%;
  display: flex;
  /* border: 1px solid rgb(19, 1, 1); */
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* gap: 810px; */
}
.container h3 {
  /* height: 100%; */
}
.container ul {
  width: 255px;
  display: flex;
  height: 90px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* height: 100%; */
  /* justify-content: space-around; */
  /* align-content: space-around; */
  /* border: 1px solid red; */
}
ul li {
  list-style: none;
}
.home {
  /* margin-top: 60px; */
}
.main1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1px;
  /* flex-wrap: wrap; */
  margin-bottom: 35px;
}
.img {
  width: 721px;
  height: 474px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.main1 .text {
  width: 480px;
  height: 342px;
  padding-left: 50px;
}
.main1 .text .p1 {
  width: 90px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main1 .text .p2 {
  width: 429px;
  color: #000;
  font-family: Tenor Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 116.667% */
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 27px;
}
.main1 .text .p3 {
  width: 419px;
  color: #666;
  font-family: Source Serif Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 28px;
}
.main1 .text .p4 {
  width: 105px;
  flex-shrink: 0;
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  /* border: 1px solid red; */
}
.main2 {
  width: 100%;
  /* height: 963px;
  flex-shrink: 0; */
  display: flex;
  flex-wrap: wrap;
  gap: 19.5px;
}
.cart1 {
  display: flex;
  width: 387px;
  padding-top: 25px;
  /* padding-top: 25.5px;
  padding-bottom: 49px; */
  flex-direction: column;
  align-items: flex-start;
}
.img1 {
  width: 100%;
  /* height: 254px; */
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
  margin-bottom: 19.5px;
}
.cart1 .text .p1 {
  width: 93px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.cart1 .text .p2 {
  width: 347px;
  color: #000;
  font-family: Tenor Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  text-transform: uppercase;
  margin-bottom: 15px;
}
.cart1 .text .p3 {
  width: 140px;
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
hr {
  width: 1200px;
  height: 1px;
  flex-shrink: 0;
  background: #e6e6e6;
  /* margin-bottom: 80px;
  margin-top: 80px; */
}
.second-main1 {
  display: flex;
  /* height: 1014.063px; */
  padding-top: 0.031px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 29.969px;
  flex-shrink: 0;
}
.second-main1 .p1 {
  width: 93px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.text-img {
  display: flex;
  width: 100%;
  /* height: 972.063px; */
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 64.969px;
  flex-shrink: 0;
  /* border: 1px solid blue; */
}
.images {
  width: 100%;
  /* height: 878.063px; */
  /* flex-shrink: 0; */
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.text-img .btn {
  width: 205px;
  height: 54px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-img .btn a {
  width: 153px;
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.images .img1 {
  display: flex;
  width: calc(24.896% - 10px);
  /* height: 390px; */
  /* padding: 0.031px 10px 48px; */
  /* padding-top: 0.031px; */
  /* padding-bottom: 48px; */
  /* padding-right: 10px; */
  margin-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 23px; */
  /* border: 1px solid rgb(225, 255, 0); */
}
.images .img1 img {
  width: 100%;
  /* height: 187px; */
  margin-bottom: 20px;
}
.img1 .inner {
  width: 285px;
  /* height: 134px; */
  /* border: 1px solid black; */
}
.inner .p1 {
  width: 130px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  /* border: 1px solid black; */

  margin-bottom: 18px;
}
.inner .p2 {
  width: 276px;
  color: #000;
  font-family: Tenor Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 126.316% */
  text-transform: uppercase;
  margin-bottom: 15px;
}
.inner .p3 {
  width: 144px;
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main-card {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
.main-card .card1 {
  display: flex;
  width: calc(50% - 10px);
  padding: 24.969px 0px 49px 0px;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid rgb(17, 5, 5); */
  justify-content: center;
  gap: 20.219px;
}
.card1 img {
  width: 100%;
  height: 387px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.card1 .txt {
  width: 100%;
  height: 86px;
  margin-top: 20px;
}
.card1 .txt .p1 {
  width: 103px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.card1 .txt .p2 {
  width: 100%;
  color: #000;
  font-family: Tenor Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 126.316% */
  text-transform: uppercase;
  margin-bottom: 18px;
}
.card1 .txt .p3 {
  width: 142px;
  flex-shrink: 0;
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
footer {
  width: 100%;
  /* height: 617px; */
  /* border: 1px solid rgb(12, 227, 12); */
  background: #141414;
  margin-top: 64px;
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
  padding-top: 50px;
}
.foot {
  display: flex;
  width: 100%;
  /* height: 437px; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* gap: 59.594px; */
  /* flex-shrink: 0; */
  /* border: 5px solid rgb(13, 215, 242); */
}
.foot-head {
  width: 100%;
  height: 22px;
  flex-shrink: 0;
  display: flex;
  /* border: 5px solid rgb(9, 36, 238); */
}
.foot-head .p1 {
  width: 33%;
  height: 100%;
  flex-shrink: 0;
  color: white;
}
.foot-head .p2 {
  width: 67%;
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 6px;
}
.foot .hrrr {
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background: #f10cb0;
  /* margin: 0px, 0px, 0px, 0px; */
  margin-top: 60px;
  margin-bottom: 60px;
}
.body {
  display: flex;
  width: 100%;
  /* height: 294px; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;

  /* border: 5px solid rgb(20, 167, 9); */
}
.foot-body {
  display: flex;
  width: 100%;
  /* height: 110px; */
  /* justify-content: center; */
  align-items: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  /* border: 1px solid yellow; */
}
.foot-footer {
  display: flex;
  /* height: 144px; */
  padding: 15px 225px 0px 0px;
  align-items: flex-start;
  flex-shrink: 0;
  /* border: 1px solid rgb(30, 0, 255); */
}
.foot-body .c1 {
  display: flex;
  width: 27%;
  /* height: 110px; */
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20.406px;
  flex-shrink: 0;
}
.foot-body .c1 p {
  width: 174px;
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.foot-body .pc1 {
  width: 300px;
  height: 48px;
  flex-shrink: 0;
}
.pc1 {
  display: flex;
}
.pc1 form input {
  width: 221px;
  height: 48px;
  flex-shrink: 0;
  /* border: 1px solid #ccc; */
  background: #fff;
  border-style: none;
  padding-left: 24px;
}
.pc1 form input::placeholder {
  width: 174px;
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.pc1 button {
  width: 79px;
  height: 48px;
  flex-shrink: 0;
  background: #000;
  border-style: none;
  color: #fff;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.c2 {
  display: flex;
  width: 73%;
  /* height: 110px; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20.406px;
  flex-shrink: 0;
  /* border: 10px solid red; */
}
.c2 .cp2 {
  width: 77px;
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.pc2 {
  width: 100%;
  /* height: 78px; */
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
}
.pc2 .p1 {
  width: 25%;
  color: #fff;
  font-family: Libre Franklin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.foot1 {
  display: flex;
  width: 225px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15.406px;
}
.foot1 .p1 {
  width: 86px;
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.foot1 .p2 {
  width: 147px;
  color: #fff;
  font-family: Libre Franklin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.p2 {
  width: 100%;
}
@media (max-width: 1200px) {
  .container {
    width: 950px;
  }
  .home .container .main2 .cart1 {
    width: 305px;
  }
  .home .container .main2 .cart1 .text .p2 {
    width: 90%;
    font-size: 16px;
  }
  .main1 .text .p2 {
    width: 90%;
    font-size: 32px;
  }
  .main1 .text .p3 {
    width: 100%;
  }
  .img {
    width: 617px;
  }
  .main1 .text {
    width: 333px;
  }
  .main2 {
    gap: 16px;
  }
  .latest .container .second-main1 .text-img .images .img1 {
    width: 305px;
  }
  hr {
    width: 950px;
  }
  .latest-post-card-text {
    font-size: 14px;
  }
  .foot {
    width: 100%;
  }
  .c2 {
    width: 100%;
    /* margin-top: 80px; */
    margin-bottom: 20px;
  }
}
@media (max-width: 990px) {
  .container {
    width: 730px;
  }

  .home .container .main2 .cart1 {
    width: 235px;
  }
  .home .container .main2 .cart1 .text .p2 {
    width: 90%;
    font-size: 16px;
  }
  .main1 .text .p2 {
    width: 90%;
    font-size: 24px;
  }
  .main1 .text .p3 {
    width: 100%;
  }
  .img {
    width: 474.5px;
  }
  .main1 .text {
    width: 255.5px;
  }
  .main2 {
    gap: 12px;
  }
  .latest .container .second-main1 .text-img .images .img1 {
    width: 355px;
    height: 60%;
  }
  .images {
    gap: 20px;
  }
  hr {
    width: 730px;
  }
  .latest-post-card-text {
    font-size: 10px;
  }
  .foot {
    width: 100%;
  }
  .c2 {
    width: 100%;
    /* margin-top: 80px; */
    margin-bottom: 20px;
  }
  .foot-footer {
    padding: 15px;
  }
}
@media (max-width: 730px) {
  .container {
    width: 100%;
    padding: 0px 10px;
  }
  .main1 {
    flex-direction: column;
  }
  .img {
    width: 100%;
  }
  .main1 .text {
    width: 100%;
  }
  .home .container .main2 .cart1 {
    width: 100%;
  }
  .home .container .main2 .cart1 .text .p2 {
    width: 90%;
    font-size: 16px;
  }
  .main1 .text .p2 {
    width: 90%;
    font-size: 24px;
  }
  .main1 .text .p3 {
    width: 100%;
  }
  .main2 {
    gap: 12px;
  }
  .latest .container .second-main1 .text-img .images .img1 {
    width: 100%;
    height: 60%;
  }
  .images {
    gap: 20px;
  }
  hr {
    width: 100%;
  }
  .main-card {
    flex-direction: column;
  }
  .pc2 {
    flex-direction: column;
  }
  .card1 img {
    width: 100%;
  }
  .main-card .card1 {
    width: 100%;
  }
  .latest-post-card-text {
    font-size: 10px;
  }
  .foot {
    width: 100%;
  }
  .c2 {
    width: 100%;
    /* margin-top: 80px; */

    margin-bottom: 20px;
  }
  .foot-footer {
    width: 100%;
    padding: 10px;
  }
  .foot1 {
    flex-direction: column;
  }
  footer {
    padding: 20px;
  }
  .pc2 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .foot1 .p2 {
    width: 50%;
  }
  .pc2 .p1 {
    width: 33%;
  }
  .foot-body .pc1 {
    width: 100%;
    /* justify-content: start; */
  }
  .foot-body .c1 {
    width: 100%;
  }
  .pc1 form input {
    width: 70%;
  }
  .pc1 button {
    width: 20%;
  }
  form {
    width: 100%;
  }
  .nav-items {
    flex-direction: column;
  }
}
